
@import "typography";
@import "structure";
  

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    
}


.bg {  
    background-attachment: fixed;
    background-size:cover;
    
}

.bg1 { background-image:url('/assets/bgs/bg1.png') }
.bg2 { background-image:url('/assets/bgs/bg2.png') }
.bg3 { background-image:url('/assets/bgs/bg3.png') }
.bg4 { background-image:url('/assets/bgs/bg4.png') }
.bg5 { background-image:url('/assets/bgs/bg5.png') }
.bg6 { background-image:url('/assets/bgs/bg6.png') }


.sketch-container {
    overflow:hidden;
    // height:33vh;
    position:relative;
}

.sketch {
    position:absolute;
    top:0;
    overflow:hidden;
    width:100%;
    // height:105%;
    opacity:0;

}
.sketch:hover {
    opacity:1
}


.sketch:hover + div {
    opacity:0
  }

.sketch-title {
    position:absolute;
    top:0;
    pointer-events:none;
}

.sketch-title h4 {
    /* mix-blend-mode: exclusion; */
    
    padding:1rem;
    margin:auto;
    /* position:absolute;
    top:50%; left:50%
    transform:translate(-50%,-50%) */
}



.grid-span-2-end {
    grid-column: 2 / 4;

}

.short {
    min-height:0;

}




/* 
.sketch {
    opacit
} */